name: Run Indeed Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"  # elke dag om 08:00 uur

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
            python-version: "3.10"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        run: python indeed_scraper.py

      - name: Commit generated JSON
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add indeed_*.json
          if git diff --cached --quiet; then
            echo "No new data."
          else:
            git commit -m "Indeed update $(date)"
            git push
          fi
