name: Run Indeed Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"  # elke dag om 08:00 uur

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
            python-version: "3.10"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        run: python indeed_scraper.py

      - name: Commit JSON file(s)
        run: |
          echo "Current directory:"
          pwd
          echo "Files:"
          ls -R

          git config user.email "github-actions@github.com"
          git config user.name "github-actions"

          # zoek alle JSON-bestanden in de hele repo
          find . -name "indeed_*.json" -exec git add {} +

          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update Indeed data $(date '+%Y-%m-%d %H:%M:%S')"
            git push
          fi
