name: Run Indeed Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        run: python indeed_scraper.py

      - name: Upload ALL HTML debug files
        uses: actions/upload-artifact@v4
        with:
          name: debug_html
          path: "*.html"
        continue-on-error: true
      - name: Upload debug HTML
        uses: actions/upload-artifact@v4
        with:
          name: debug_pages
          path: "*.html"
        continue-on-error: true
      - name: Commit JSON file(s)
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          find . -name "indeed_*.json" -exec git add {} +

          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Indeed update $(date)"
            git push
          fi
