name: Scrape

on:
  workflow_dispatch:

jobs:
  scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Chromium deps
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            chromium-browser \
            chromium-driver \
            xvfb \
            libnss3 \
            libxss1 \
            libxrandr2 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libcups2 \
            libdrm2 \
            libxcomposite1 \
            libxdamage1 \
            libxfixes3 \
            libgbm1 \
            libasound2t64 \
            fonts-liberation \
            libu2f-udev \
            libvulkan1

      - name: Install Python deps
        run: |
          pip install --upgrade pip
          pip install undetected-chromedriver selenium pandas python-dotenv

      - name: Run scraper
        run: xvfb-run -a python circle8_scraper.py
